
a:any-link {
    color: inherit;
}

.clubContact {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 2;
}

.clubBodyToggle {
    display: flex;
    justify-content: space-around;
    font-size: 12pt;
    align-items: center;
    cursor: pointer;
}

.shortUnderline {
    width: 60%;
    border-bottom: solid white 2px;
    margin: 0px 0px 0px 20%;
    padding-top: 3px;
}

.clubContact i {
    background-color: #ffffff;
}

.clubContact i:not(.disabled):hover {
    cursor: pointer;
}

.clubDetailsHeader  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    line-height: 8px;
}

.clubDetailsBody {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 2;
}

.clubDetailsBody > div {
    padding: 10px;
}
.clubDetailsBody > div:nth-child(1) {
    background-color: #1a518f;
    color: white;
}
.clubDetailsBody > div:nth-child(2) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.clubDetailsBody > div:nth-child(3) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
}

.clubDetailsBody > div:nth-child(even) {
    background-color: #ffffff;
}

.clubDetailsBody .clubImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.clubDetailsBody i {
    background-color: #ebe9e9 
}

.clubDetailsBody .clubDetailsBodyHeader i {
    background-color: lightgray; 
}

.clubDetailsBodyHeader {
    display: flex;
    align-items: center;
}

.clubDetailsBodyHeader div:nth-child(1){
    flex-grow: 1;
}

.clubLabel {
    color: white;
    margin: 10px;
    text-align: center;
}

.clubLabel.big {
    font-size: 18pt;
}

.clubLabel.small {
    font-size: 12pt;
    line-height: 22px;
    width: 60%;
}

.clubLabel.extra-small {
    font-size: 13pt;
    font-weight: normal;
}

@media only screen and (max-width: 992px) {
    .clubDetailsHeader {
        margin-top: 0px;
    }

    .shortUnderline {
        width: 90%;
        margin: 0px 0px 0px 0%;
    }

    .clubLabel.small {
        width: 90%;
    }
}