.detailsHeader  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.detailsHeader .searchNotification {
    align-self: flex-end;
    flex-grow: 1;
}

.detailsHeader div:nth-child(1) i{
    background-color: rgb(95 203 128);
    color: white;
    font-weight: 100;
    opacity: 0.8;
}

.detailsBody {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 2;
}

.detailsBody > div {
    padding: 15px;
}
.detailsBody > div:nth-child(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.detailsBody > div:nth-child(4) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.detailsBody > div:nth-child(even) {
    background-color: #ebe9e9;
}
.detailsBody > div:nth-child(odd) {
    background-color: #e3e2e2;
}
.detailsBody .clubImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.detailsBody i {
    background-color: #ebe9e9 
}

.detailsBody .detailsBodyHeader i {
    background-color: #e3e2e2; 
}

.detailsBodyHeader {
    display: flex;
    align-items: center;
}

.detailsBodyHeader div:nth-child(1){
    flex-grow: 1;
}

.userLabel {
    color: white;
    margin: 10px;
    text-align: center;
}

.userLabel.big {
    font-weight: bold;
    font-size: 18pt;
}

.userLabel.small {
    font-size: 15pt;
}
