
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
}

i {
  background-color: #fff;   
}

.ui.segment.mainSegment {
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.phoneFrame {
    background-image: url('../public/frame.png');
    width: 438px;
    height: 611px;
    margin-left: -4px;
    position: absolute;
    background-repeat: round;
    z-index: 1;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

.previewSegment {
    height: 560px; 
    border-radius: 8%;
    width: 295px;
    min-width: 295px;
}

.previewSegment.club {
    background-color: #1a518f !important;
}

.previewSegment.user {
    background-color: rgb(95 203 128);
}

.ui.grid>.row>[class*="six wide"].column.phoneColumn {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.appHeader {
    display: flex;
    justify-content: space-around;
    background-color: #1a518f;
    
    padding: 15px;
    margin: 0;
}
.appHeader a{
    color: white;
    font-size: 20pt;
    transition: .3s;
}
.appHeader a:hover{
    color: rgb(111 229 127) !important;
    text-decoration: underline;
    transition: .5s;
}

.appHeader a:visited{
    color: white;
}


.appIcon {
    width: 100px;
    height: 100px;
    background-color: #00518f;
    border-radius: 100%;
    font-size: 32pt;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.appIcon i {
    font-size: 1.2em !important;
}
.appIcon img {
    border-radius: 100%;
    width: 100px;
    height: auto;
    max-height: 100px;
}

.preview::-webkit-scrollbar {
    width: 5px;
}

@media only screen and (max-width: 767px) {
    .ui.container {
        width: auto!important;
        margin: 0px !important;
    }
}
@media only screen and (max-width: 992px) {
    .ui.grid>.row>[class*="ten wide"].column,.ui.grid>.row>[class*="six wide"].column {
        width: 100% !important;
        padding-top: 20px;
    }

    .phoneFrame {
        width: 378px;
        height: 540px;
    }
    .previewSegment {
        width: 250px;
        height: 495px;
        min-width: 250px;
    }
    .clubDetailsBody {
        height: 20vh;
    }
    .detailsBody {
        height: 28vh;
    }
    .preview {
            width: 223px;
    }
}